{% extends "base.html" %}
{% load static %}
{% block title %}TG Store | Productos{% endblock %}
{% block content %}
<div class="row">
  {% for producto in productos %}
    <div class="card col-3">
      <img src="{% static 'images/products/'%}{{producto.image_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{producto.name}}</h5>
        <p class="card-text">${{producto.price}} MXN.</p>
        
        <p>Disponibles: {{producto.stock}}</p>
        {% if producto.stock == 1 %}
        <sub>Date prisa, último disponible</sub>
        {% endif %}
        <br/>
        {% if producto.stock == 0 %}
          <p>Producto agotado</p>
        {% else %}
          <a href="#" class="btn btn-primary">Agregar</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}